.footer{
    background-color: rgb(23, 48, 65);
}
.zayshop{
    color: rgb(0, 201, 27);
}
.whitetxt{
    color: white;
}
.icon{
    width: 15px;
}
.brdr{
    border-width: 1px;
    border-color: rgb(122, 167, 197);
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
p.txt:hover{
    color:rgb(0, 201, 27);
}
.brdr1{
    border-width: 1px;
    border-color: rgb(122, 167, 197);
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.ftclr{
    background-color:rgb(13, 31, 43) ;
}