<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>home</title>
</head>
<body>
    <div class=" mainback ">
        
        <div class="row image">
        <div class="col-lg">
            <nav class="navbar navbar-light mt-3 ">
            <div class="container">
              <a class="navbar-brand mb-5"><img src="/images/logo.svg" width="100px" alt=""></a>
              <form class="d-flex mt-1">
                <a class="me-3 pt-3 nitem text-decoration-none" href="">The Team</a> 
                <a class="me-3 pt-3 nitem text-decoration-none" href="">Pricing</a>
                <a class="me-3 pt-3 nitem text-decoration-none" href="">Features</a>
                <button class="btn btn-info dnld mb-5 pt-3 pb-3 text-light"  type="submit">Download free</button>
              </form>
            </nav>

            <div class="container">
              <div class="row ">
                <div class="col-lg mt-5 text-light">
                    <h1>Beautiful Free Nova <br> template</h1>
                    <div class="mt-4"><h5>A top notch premium quality <br> template for your next web <br> project.</h5></div>
                    <button class="btn btn-info  mt-5  pt-3 pb-3 text-light dbtn "  type="submit">Download free</button>
                
                </div>
                <div class="col-lg pb-5"><img class="image2 " src="/images/screen.png" width="600px" alt=""></div>
              </div>
              <div class="row ">
                <div class="col-lg text-center pb-5"><a class=" mt-2 " href=""><img class="mouse" src="/images/mouse.svg" alt=""></a></div>
              </div>

            </div>
            
         </div>
        </div>
            
            
          
      
           
    </div>
    <div class="sec2">
        <div class="container">
            <div class="row">
                <div class="col-lg text-light text-center pt-5 pb-5"><h2 >FEATURES</h2></div>
            </div>
            <div class="row text-center pt-5 pb-5">
                <div class="col-lg "><img class="feature-icon " src="/images/responsive.svg" alt="">
                <div class="text-light"><h6>FULLY RESPONSIVE</h6>
                <p>Looks amazing on any device: <br> smartphone, tablet, laptop and <br> desktop.</p>
                </div>

            </div>
                <div class="col-lg "><img class="feature-icon " src="/images/customizable.svg" alt="">
                    <div class="text-light"><h6>CUSTOMIZABLE</h6>
                        <p>Change the colors, pictures or <br> any of the sections to suit your <br>needs.</p>
                        </div></div>
                <div class="col-lg "><img class="feature-icon " src="/images/design.svg" alt="">
                    <div class="text-light"><h6>SLICK AND BEAUTIFUL DESIGN</h6>
                        <p>Trendy and fresh design, fits <br>any website.</p>
                        </div></div>
            </div>
        </div>
    </div>
   
    <div class="text-center logos pt-4 pb-4"><img src="/images/logos.png" alt=""></div>
    <div class="container">
        <div class="row mt-5">
       <div class="col-lg pt-4"><img src="/images/imac.png" width="650px" alt=""></div>
       <div class="col-lg text-center mt-5">
        <h2>SIMPLE AND BEAUTIFUL</h2>
        <p class="mt-5">Use Nova theme for your next web project. It is <br> completely customizable so you can change any of <br> the sections to fit your needs. Nova Theme is Free for <br> any kind of use, personal and commercial. Have fun <br> and good luck!</p>
    </div>
    </div>
    </div>
    <div class="sec3">
        <div class="container">
            <div class="row">
                <div class="col-lg text-center mt-5 pt-3 pb-5">
                    <h2>CHOOSE YOUR PRICING PLAN</h2>
                    <h5 class="mt-3 ">Pick any of our super affordable pricing plans</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg pt-5">
                    <h4>BASIC</h4>
                    <h1>$15</h1>
                    <li class="pt-5">Up To 7Projects</li>
                    <li>2 Additional Developers</li>
                    <div class="mt-5 pt-5 mb-5 ">
                    <button class="btn btn-info mt-5 " type="submit"><p class="text-light  mb-2 mt-2 ms-4 me-4">Get Started</p></button>
                </div>
                </div>
                <div class="col-lg pt-5 wcard mid-plan"><h4>AGENCY</h4>
                    <h1>$55</h1>
                    <li class="pt-5">Up to 25 Projects</li>
                    <li>2 Additional Developers</li>
                    <li>Unlimited Support</li>
                    <div class="mt-5 pt-5 mb-2 ">
                    <button class="btn btn-info mt-5 " type="submit"><p class="text-light  mb-2 mt-2 ms-4 me-4">Get Started</p></button>
                </div>
                </div>
                <div class="col-lg pt-5"><h4>PRO</h4>
                    <h1>$75</h1>
                    <li class="pt-5">Up to 25 Projects</li>
                    <li>2 Additional Developers</li>
                    <li>Unlimited Support</li>
                    <li>1.5GB Disk Space</li>
                    <div class="mt-5 pt-5 mb-5 ">
                    <button class="btn btn-info mt-5 " type="submit"><p class="text-light  mb-2 mt-2 ms-4 me-4">Get Started</p></button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sec4 mb-5 pb-5">
        <div class="container mb-5 pb-5">
            <div class="row">
                <div class="col-lg mt-5 text-center mb-5 pb-5"><h2>THE TEAM</h2></div>
            </div>
            <div class="row text-center">
            <div class="col-lg"><img src="/images/cto.png" alt="">
            <h4 class="mt-5">CTO</h4>
            <h6>Johnny B Good</h6>
            <p>The brains behind the whole operation</p>
            <span class="me-2"><img src="/images/team-twitter.svg" alt=""></span>
            <span class="me-2"><img src="/images/team-facebook.svg" alt=""></span>
            <span><img src="/images/team-google.svg" alt=""></span>
            </div>
            <div class="col-lg"><img src="/images/ceo.png" alt="">
                <h4 class="mt-5">CEO</h4>
                <h6>Roll Over Beethoven</h6>
                <p>The one that puts it all together</p>
                <span class="me-2"><img src="/images/team-twitter.svg" alt=""></span>
                <span class="me-2"><img src="/images/team-facebook.svg" alt=""></span>
                <span><img src="/images/team-google.svg" alt=""></span></div>
            <div class="col-lg"><img src="/images/cfo.png" alt="">
                <h4 class="mt-5">CFO</h4>
                <h6>Chuck Berry</h6>
                <p>The guy with his hand on the wallet</p>
                <span class="me-2"><img src="/images/team-twitter.svg" alt=""></span>
                <span class="me-2"><img src="/images/team-facebook.svg" alt=""></span>
                <span><img src="/images/team-google.svg" alt=""></span></div>
        </div>
        </div>

    </div>

    <div class="sec5 text-center text-light pb-5 ">
        <h3 class="pt-5">Download Free</h3>
        <p>Take it for a ride for any of your <br> projects!</p>
        <div class="container text-cetnter" >
            <form class="asd" >
              <input class="form-control email-input inpt me-2" type="email-input" placeholder="Enter Your email"  >
              <button class="btn btn-success" type="submit">Download</button>
            </form>
          </div>

    </div>

    <div class="sec6">
        <nav>
            <div class="container pb-4 pt-4">
                <div class="row">
                <div class="col-lg-7 text-end">
  
                <div class="">
              <a class="  text-decoration-none text-light" href="#">
                A Free Template By  
                <img src="/images/webscope.svg" alt=""  class="d-inline-block  align-text-top">
               
              </a>
              </div>
            </div>
            <div class="col-lg text-end">
              <a class="" href=""><img src="/images/facebook.svg" alt=""></a>
              <a href=""><img src="/images/twitter.svg" alt=""></a>
            </div>
        </div>
        </div>
 
            </div>
          </nav>
       
        
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>